name: Escrity source code
on:
  push:
    branches:
      - main

jobs:
  publish_source:
    runs-on: ubuntu-24.04

    steps:
      - name: Checkout del repositorio
        uses: actions/checkout@v4

      - name: convert zip
        run: zip -r source_code.zip .

      - name: Upload source code
        uses: actions/upload-artifact@v3
        with:
          name: Source code
          path: source_code.zip
